{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5 alert-success shadow" style="max-width: 600px; padding: 50px; border-radius: 10px;">
      <h3 class="text-center">Export Data to Database tables</h3>
      <form action="{% url 'export_data' %}" method="post" style="max-width: 600px; margin: auto; padding-top: 50px;">
          {% csrf_token %}
            <div class="form-group mt-2">
                <label for="model_name">Select Database Table</label>
                <select name="model_name" class="form-control m-2" required>
                    <option value="" disabled selected>Select</option>
                    {% for model in models %}
                    <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Export Data" class="btn btn-primary m-3">
            {% include 'alerts.html' %}
        </form>
    </div>
{% endblock %}