{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center p-5">Email Enagagement Tracking</h2>
    <table class="table table-striped table-hover" id="myTables">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">List</th>
            <th scope="col">Total Sent</th>
            <th scope="col">Events</th>
            <th scope="col">Sent at</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
            <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url 'track_stats' email.id %}">{{email.subject}}</a></td>
            <td>{{ email.email_list }}</td>
            <td>0</td>
            <td>
                <div>0% Opened</div>
                <div>0% Clicked</div>
            </td>
            <td>{{ email.sent_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}